.section_title {} .section_subtitle{
    
    margin-bottom: 7px;
    padding-left: 7px;
    font-size:m 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #aaaaaaa;
    border-left:3px solid #bfa67a;
    font-size: 20;
    font-family: tahoma;
    
    
    }